.App {
  text-align: center;
}
.font-container {
  font-family: 'Syne', sans-serif;
  position:absolute;
  display: inline-block;
  z-index: 1;
}
.arr{
position: relative;
left: 21vw;
bottom: 7.3vh;
  width:45px;
  height: 45px;
}
.price{
  font-weight: 900;
  font-size:large;
}
.fresh{
  color: white;
  position:absolute ;
  left: 7vw;
  top: 7vh;
  font-size:9vw;
}
.year{
  color: white;
  position:absolute ;
  left: 30vw;
  top: 23vh;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  font-size:9vw;
}
.seemore{
  position:absolute ;
  left: 7vw;
  top: 94vh;
  

}
.lineg{
  position:absolute ;
  left: 7vw;
  top:16vh;
  width: 40vw;
}

.new{
  position:absolute ;
  left: 7vw;
  top: 7vh;
  width: 50vw;
  font-size: 3.5vw;

}
.look{
  color: white;
  position:absolute ;
  left: 13vw;
  top: 40vh;
  font-size:9vw;
}
#parai{
  position: absolute;
  top: 250vh;
  left: 6vw;
  
font-weight: 400;
  color:#FFFFFF80;
  z-index: 1;
}
#name{
  position: absolute;
  top: 241vh;
  left: 50vw;
  
font-weight: 400;
  color:#FFFFFF80;
  z-index: 2;
}
@media screen and (max-width: 700px) {
  .ff {
    position:absolute;
    display:flex;
    margin-right: 20vw;
    width: 10vw;
    overflow:initial;
    left: 0;
    
    top:67vh ;
    


  }
  .arrow2 {display: none;}
 
}
#email{
  position: absolute;
  top: 250vh;
  left: 50vw;
  
font-weight: 400;
  color:#FFFFFF80;
  z-index: 2;
}
#mess{
  position: absolute;
  top: 258vh;
  left: 50vw;
  
font-weight: 400;
  color:#FFFFFF80;
  z-index: 2;
}

#foot{
  position: absolute;
  top: 315vh;
  left: 37vw;
  
font-weight: 900;
  color:#FFFFFF80;;
  z-index: 2;

}
#get{
  position: absolute;
  top: 260vh;
  left: 6vw;
  font-family: 'Syne', sans-serif;
font-size: 10vw;
  color:white;
  z-index: 1;
}
#in{
  position: absolute;
  top: 280vh;
  left: 6vw;
  font-family: 'Syne', sans-serif;
font-size: 10vw;
  color:white;
  z-index: 1;
}
.for{
  position: absolute;
  top: 240vh;
  left: 50vw;
  opacity: 0%;
  color:#FFFFFF80;;
  z-index: 1;
}
#headi{
  position: absolute;
  top: 240vh;
  left: 6vw;
  font-family: 'Syne', sans-serif;
font-weight: 600;
  color:#FFFFFF80;;
  z-index: 1;
}
.arrow2{
  position:absolute ;
  left: 83vw;
  top: 14vh;
}
.arrow1{
  position:absolute ;
  left: 90vw;
  top: 14vh;
}
@media screen and (max-width: 700px) {
  .arrow1 {
    display: none;
  }
  .arrow2 {display: none;}
 
}

.topbar{
  background-color: black;
  height: 5vh;
  max-width:  100vw;
  padding-left: 5vw;
padding-right: 5vw;

}


.i2{
padding-left: 2rem;
  justify-content: space-between;
  float: right;
 
}
.shopkart{
  background-color: black;
  padding-left: 5vw;
  
}
.imagemain{
  
  width: 100vw;
  max-height: 80vh;
  float: right;
  
}
.poster{
  height: 80vh;
  background-color: black;
}

.navbarr{
  
  background-color: black;
}
.dropdown{
  display: inline;
  color: white;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}
.navbar[data-bs-theme=dark]{
  padding-left: 4vw;
}
a:link {
  color: white;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}

.wish{
 float: right;
 padding-top: 10px;
 padding-right: 5vw;
 justify-content: center;
 align-items: center;
}


.icon{
  padding-right: 1vw;
}
.follow{
  
  padding-right: 3vw;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
 
  margin-top: 10vw;
 
  padding-left: 7vw;
  width: 250px;
  background-color: white;
  color: black;
  position: relative;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding-bottom: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  
  font-size: large;
  color: black;
  font-weight: bold;
}
.sidebar a:not(.active) {
  text-decoration: none;
  font-weight: 400;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    
  }
  .sidebar a {float: left;}
  .sidebar a{padding-right: 10px;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}